
header {
  width: 100%;
  height: 125px;
  margin-bottom: 20px; 
  color: white;
  font-size: 75px; 
  float: bottom;
  background-color: black;
  text-align: center;
}

#refresh {
  color: black; 
}

#refresh:hover {
  color: grey;
}

.panel-default{
  float: left;
}

.panel-title {
  font-size: 20px;
  color: gray;
  text-align: center;
  }

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

footer {
    width: 100%;
    height: 60px;
    padding: 20px;
    color: white;
    background-color: black;
    text-align: center;
  }
